{% extends "theVault/base.html" %}
{% block content %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
      
       <div class="position-relative overflow-hidden p-2 p-md-2 m-md-2 text-center bg-light">
         <div class="col-md-5 p-lg-5 mx-auto my-3">
           <h1 class="display-4 font-weight-normal">The Vault</h1>
           <p class="lead font-weight-normal">The Vault is a website that allows users to generate and save secure passwords that they can later use in their social media accounts</p>
           <a class="btn btn-success" href="{% url 'passwords-page' user %}">Get started</a>
         </div>
         <div class="product-device shadow-sm d-none d-md-block"></div>
         <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
       </div>

       <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
         <div class="bg-dark w-50 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
           <div class="my-3 py-3">
             <h2 class="display-5">Create Password</h2>
             <p class="lead">Generate a secure password</p>
           </div>
           <div class="bg-light shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
             <i class="fas fa-lock fa-7x" style="color: black; margin-top: 15%;"></i>
             <div>
              <br>
             <a class="btn btn-primary" href="{% url 'view' %}">Create a password</a>
             </div>
             
           </div>
         </div>
         <div class="bg-dark w-50 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
           <div class="my-3 p-3">
             <h2 class="display-5">Make a note</h2>
             <p class="lead">Create new notes</p>
           </div>
           <div class="bg-light shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
             <i class="fas fa-sticky-note fa-7x" style="color: black;margin-top: 15%;"></i>
             <div>
              <br>
             <a class="btn btn-primary" href="{% url 'create-note' %}">Create a note</a>
             </div>
           </div>
         </div>
       </div>

<!-- Footer -->
<footer class="page-footer font-small bg-light pt-3 border-top-0">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">The Vault</h5>
        <p>The Vault is a website that allows its users o generate and save secure passowords and create notes.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
 
      </div>


      <hr class="clearfix w-100 d-md-none pb-3">


      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Redoni18">Github</a>
          </li>
        </ul>

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Redoni18/The-Vault-Password-generator-website-with-Django"> The Vault</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


{% endblock content %}
