{% extends "theVault/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">You have logged out!</h3></div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'login' %}">Login again</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </main>
            </div>
        </div>


{% endblock content %}