{% extends "theVault/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="mt-5" id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Generated</h3></div>
                                    <div class="card-body">
                                        
                                     <div class="input-group mb-3">
                                       <button onclick="myFunction()" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
                                         <span class="tooltiptext" id="myTooltip" >Copy Text</span>
                                       </button>
                                       <input type="text" value="{{password}}" id="myInput" class="form-control text-center" aria-label="Large" aria-describedby="inputGroup-sizing-sm" >
                                     </div>
                                      <br>
                                      <small class="text-muted d-flex justify-content-center">Please make sure to first copy the password if you decide to save it! </small>
                                      <br>
                                      <div class="row">

                                          <div class="col-sm-12 text-center">
                                            <a href="{% url 'view' %}" class="btn btn-danger btn-md">Generate again</a>
                                            <a href="{% url 'save' %}" class="btn btn-success btn-md">Save</a>
                                           </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
          </div>


<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
}
</script>
{% endblock content %}
