{% extends "theVault/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

  <a href="{% url 'view' %}" class="btn btn-primary btn-rounded btn-sm mt-4 ml-3">Generate New Password</a>
        <div class="container">
          <div class="row">
             {% for password in vault_NewPasswordData %}
            <a href="{% url 'detail' password.id %}" class="text-dark">
              <div class="col-md-3 col-sm-5">
                
                
                <div class="card" style='margin-top: 8%;background-color: #e6e8e6;margin-bottom: 8%;'>
                  <div class="card-body">
                    <h5 class="card-title">{{ password.app }}</h5>
                    <p class="card-title">{{ password.user}}</p>
                    <div class="article-metadata">
                      <small class="text-muted">{{password.password_datetime|date:"F d, Y, H:i" }}</small>  
                    </div>
                    <a href="{% url 'detail' password.id %}" class="btn btn-primary btn-sm">Read More</a>
                     </div>
                </div>
              
            </div>
        </a>

          {% endfor %}
      </div>


   <!--  <p>{{ password.url }}</p>
    <p>{{ password.user}}</p>
    <p>{{ password.password }}</p> -->


{% endblock content %}