{% extends "theVault/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-white">
  <div class="container">
    <div class="text-center py-5">
      <img src="{{user.profile.image.url}}" class="ui-w-100 rounded-circle" style="width: 150px;height: 150px;">
      <div>
        <br>
      <table class="table table-dark table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">App</th>
            <th scope="col">App Username</th>
            <th scope="col">App URL</th>           
            <th scope="col">Old Password</th>
            <th scope="col">Password date and time</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.app }}</td>
            <td>{{ object.app_username}}</td>
            <td>{{ object.url }}</td>
            <td>{{ object.oldPassword}}</td>
            <td>{{object.password_datetime|date:"F d, Y, H:i" }}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Generated Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.newPassword }}</td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
            <div class="btn-group mt-4">
              <button class="btn btn-primary dropdown-toggle ml-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More Options
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'update-password' object.id %}">Edit</a>
                  <a class="dropdown-item" href="{% url 'delete-password' object.id %}">Delete</a>
                </div>
            </div>
                  
        </div>
      </div>
    </div>

  </div>


{% endblock content %}