{% extends "theVault/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form method="POST">
                                        	{% csrf_token %}
                                            <div class="form-group">
                                            	{{form|crispy}}
                                        	</div>
                                            <div class="form-group mt-4 mb-0">
                                            	<button class="btn btn-primary btn-block" type="submit">
                                                    Create Account
                                            	</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'login' %}">Have an account? Login here</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>


{% endblock content %}